extends layout

block append head
  title Title
  
block content
  script
    $(function(){
      $('#main-menu #desc1').addClass('active')
    })
    
  .container
    h2 Opis 1
      p tu bedzie jakiś tekst