extends layout

block append head
  title Start
  
block content
  script
    $(function(){
      $('#main-menu #index').addClass('active')
    })
    
  .container
    h2 Start
      p tu bedzie jakiś tekst