.span3
  ul#main-menu.pills.pills-vertical
    li#index
      a(href='/') Start
    li#desc1
      a(href='/desc1') Opis czegoś
    li#desc2
      a(href='/desc2') Opis czegoś innego
    li#calc
      a(href='/calculation') Kalkulator
